@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.blogWrapper{
    font-family: 'Merriweather', serif;
}

@media screen and (max-width : 400px) {
    .checksm{
        border : 2px solid black;
        display: flex;
        flex-direction: column;
    }

    .checksm button {
        margin-bottom: 2rem;
        width: 100%;
    }
}